:root {
  --orange: rgb(255, 102, 25);
  --skyblue: rgb(25, 178, 255);
  --mintgreen: rgb(128, 255, 170);
}

@-webkit-keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}
body {
  margin: 0px;
  height: 100vh;
  width: 100vw;
  min-height: 100%;
  overflow: hidden;
}
body html {
  height: 100%;
}
body ::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
body ::-webkit-scrollbar-thumb {
  background: #ff0000;
}
body .container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body .container section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}
body .container section:nth-of-type(1) {
  background-color: rgb(8, 8, 8);
}
body .container section #bigcard1 {
  transition: transform 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95), width 1s ease-in-out, height 1s ease-in-out, 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
}
body .container section #projectcard1 {
  transition: transform 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95), width 1s ease-in-out, height 1s ease-in-out, 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
}
body .container section h1 {
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 2em;
  font-weight: 400;
  margin: 0px;
  padding: 20px;
  text-align: center;
}
body .container section h4 {
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 3em;
  font-weight: 400;
  text-align: center;
}
body .container section h2 {
  font-family: "Rubik", sans-serif;
  color: white;
  font-size: 2em;
  font-weight: 400;
  margin: 0px;
  align-items: center;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black, 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}
body .container section h3 {
  font-family: "Rubik", sans-serif;
  color: white;
  font-size: 3em;
  font-weight: 200, underline;
  margin: 0px;
  text-align: center;
}
body .container section h1 > .colour {
  -webkit-animation: background-pan 3s linear infinite;
          animation: background-pan 3s linear infinite;
  background: linear-gradient(to right, var(--skyblue), var(--mintgreen), var(--orange), var(--skyblue));
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
body .container section h2 > .person {
  color: blue;
}
body .container section a {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3vmin;
  transition: background-color 400ms, border-color 400ms;
}
body .container section a:link {
  text-decoration: none;
}
body .container section a:visited {
  text-decoration: none;
}
body .container section a:active {
  text-decoration: none;
}
body .container section a.contact-block:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.3);
  border: 0.5px solid rgba(255, 255, 255, 0.5);
}
body .container section .card-groups,
body .container section .card-group,
body .container section .card {
  aspect-ratio: 5/7;
}
body .container section .card-groups,
body .container section .card-group,
body .container section .big-card {
  width: 45vmin;
}
body .container section .card-group {
  position: relative;
}
body .container section .card {
  background-color: rgb(30, 30, 30);
  position: absolute;
  transition: transform 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95), box-shadow 0.25s linear, 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
  box-shadow: -2vmin 2vmin 3vmin rgba(0, 0, 0, 0.4);
  background-position: center;
  background-size: cover;
}
body .container section .big-card {
  overflow: hidden;
  border-radius: 1vmin;
}
body .container section .misc-card {
  box-shadow: -1vmin 1vmin 2vmin rgba(0, 0, 0, 0.5);
  width: 20vmin;
  border-radius: 2vmin;
  left: 50%;
  top: 50%;
  transition: transform 800ms cubic-bezier(0.47, 0.14, 0.45, 0.85);
  transform: translate(-50%, -50%);
  pointer-events: none;
  position: absolute;
}
body .container section .little-card {
  box-shadow: -1vmin 1vmin 2vmin rgba(0, 0, 0, 0.5);
  width: 30vmin;
  border-radius: 2vmin;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
body .container section .text-blurb {
  transform: translate(-39.5%, 0vh);
  height: 50vh;
  width: 95vw;
  pointer-events: none;
  white-space: nowrap;
  position: absolute;
}
body .container section .text-group1 {
  height: 100%;
  width: 100%;
  opacity: 1;
  transition-delay: 1s;
  transition-property: opacity;
  transition-duration: 1s;
  text-overflow: ellipsis;
  position: inherit;
}
body .container section .text-group2 {
  height: 100%;
  width: 100%;
  transition-property: opacity;
  transition-duration: 1s;
  opacity: 0;
  position: inherit;
}
body .container section .text-group3 {
  pointer-events: none;
  transition-property: opacity;
  transition-duration: 1s;
  transform: translateY(15%);
  opacity: 0;
}
body .container section .contact-block {
  height: 30%;
  width: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3vmin;
  transform: translate(2.5%, 2.5%);
  margin: 1.5%;
  cursor: pointer;
  align-items: center;
  display: inline-flex;
}
body .container section .github-block {
  height: 60%;
  width: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3vmin;
  transform: translate(2.5%, 2.5%);
  margin: 1.5%;
  cursor: pointer;
  align-items: center;
  text-align: center;
  display: block;
}
body .container section img {
  top: 0;
  bottom: 0;
}
body .container section .contact-image {
  margin: 5%;
  height: 80%; /* or any custom size */
}
body .container section .github-image {
  margin: 5%;
  height: 40%; /* or any custom size */
}
body .container section .resume-block {
  width: 100%;
  height: 100%;
  border: inherit;
  border-radius: inherit;
  cursor: pointer;
  position: absolute;
}
body .container section .big-card:nth-child(15) {
  transform: translateX(-15%) rotate(-1deg);
  scale: 1.01;
  /* background-image: url(""); */
}
body .container section .big-card:nth-child(17) {
  transform: rotate(2deg);
}
body .container section .big-card:nth-child(19) {
  transform: translateX(-6%) rotate(-3deg);
  background-image: url("https://i.postimg.cc/FRVYXTvs/Screenshot-20230110-075952.png");
}
body .container section .big-card:nth-child(21) {
  transform: translate(10%, 3%) rotate(5deg);
  scale: 1.01;
  background-image: url("https://i.postimg.cc/qMpRb1Y7/IMG-5578.jpg");
}
body .container section .little-card:nth-child(14) {
  background-image: url("https://i.postimg.cc/wBpStmST/flower.jpg");
}
body .container section .little-card:nth-child(16) {
  background-image: url("https://i.postimg.cc/DZfH6Kv9/hiking.jpg");
}
body .container section .little-card:nth-child(18) {
  background-image: url("https://i.postimg.cc/0Qfx5fjs/dog.jpg");
}
body .container section .little-card:nth-child(20) {
  background-image: url("https://i.postimg.cc/ZqxX6qSP/motorcycle-front.jpg");
}
body .container section .misc-card:nth-child(1) {
  transform: translate(-45vw, 9vh) rotate(3deg);
}
body .container section .misc-card:nth-child(2) {
  transform: translate(-42vw, -38vh) rotate(-8deg);
}
body .container section .misc-card:nth-child(3) {
  transform: translate(-30vw, 30vh) rotate(-4deg);
}
body .container section .misc-card:nth-child(4) {
  transform: translate(-25vw, -10vh) rotate(-10deg);
}
body .container section .misc-card:nth-child(5) {
  transform: translate(-28vw, -50vh) rotate(6deg);
}
body .container section .misc-card:nth-child(6) {
  transform: translate(-12vw, 12vw) rotate(7deg);
}
body .container section .misc-card:nth-child(7) {
  transform: translate(6vw, 18vw) rotate(-9deg);
}
body .container section .misc-card:nth-child(8) {
  transform: translate(19vw, 0vw) rotate(9deg);
}
body .container section .misc-card:nth-child(9) {
  transform: translate(18vw, -17vw) rotate(-5deg);
}
body .container section .misc-card:nth-child(10) {
  transform: translate(30vw, -30vw) rotate(5deg);
}
body .container section .misc-card:nth-child(11) {
  transform: translate(38vw, -10vw) rotate(-1deg);
}
body .container section .misc-card:nth-child(12) {
  transform: translate(32vw, 12vw) rotate(-7deg);
}
body .container section .card-group:hover > .big-card:nth-child(15) {
  transform: translate(-90%, 16%) rotate(-20deg);
}
body .container section .big-card:nth-child(15):hover {
  box-shadow: -2vmin 2vmin 3vmin rgba(255, 255, 255, 0.4);
  scale: 1.05;
  z-index: 1;
}
body .container section .card-group:hover > .big-card:nth-child(17) {
  transform: translate(-35%, 4%) rotate(-8deg);
}
body .container section .big-card:nth-child(17):hover {
  box-shadow: -2vmin 2vmin 3vmin rgba(255, 255, 255, 0.4);
  scale: 1.05;
  z-index: 1;
}
body .container section .card-group:hover > .big-card:nth-child(19) {
  transform: translate(25%, 4%) rotate(8deg);
}
body .container section .big-card:nth-child(19):hover {
  box-shadow: -2vmin 2vmin 3vmin rgba(255, 255, 255, 0.4);
  scale: 1.05;
  z-index: 1;
}
body .container section .card-group:hover > .big-card:nth-child(21) {
  transform: translate(90%, 16%) rotate(22deg);
}
body .container section .big-card:nth-child(21):hover {
  box-shadow: -2vmin 2vmin 3vmin rgba(255, 255, 255, 0.4);
  scale: 1.05;
  cursor: pointer;
  z-index: 1;
}
body .container section .card-group:hover > .little-card:nth-child(14) {
  transform: translate(200%, -100%) rotate(-15deg);
}
body .container section .card-group:hover > .little-card:nth-child(16) {
  transform: translate(190%, 20%) rotate(15deg);
}
body .container section .card-group:hover > .little-card:nth-child(18) {
  transform: translate(-300%, -100%) rotate(15deg);
}
body .container section .card-group:hover > .little-card:nth-child(20) {
  transform: translate(-300%, 30%) rotate(-15deg);
}
body .container section .card-group:hover > .misc-card:nth-child(1) {
  transform: translate(-48vw, 14vh) rotate(3deg);
}
body .container section .card-group:hover > .misc-card:nth-child(2) {
  transform: translate(-47vw, -41vh) rotate(-8deg);
}
body .container section .card-group:hover > .misc-card:nth-child(3) {
  transform: translate(-33vw, 33vh) rotate(-4deg);
}
body .container section .card-group:hover > .misc-card:nth-child(4) {
  transform: translate(-30vw, -10vh) rotate(-10deg);
}
body .container section .card-group:hover > .misc-card:nth-child(5) {
  transform: translate(-30vw, -55vh) rotate(6deg);
}
body .container section .card-group:hover > .misc-card:nth-child(6) {
  transform: translate(-13svw, 17vw) rotate(7deg);
}
body .container section .card-group:hover > .misc-card:nth-child(7) {
  transform: translate(9vw, 21vw) rotate(-9deg);
}
body .container section .card-group:hover > .misc-card:nth-child(8) {
  transform: translate(22vw, 0vw) rotate(9deg);
}
body .container section .card-group:hover > .misc-card:nth-child(9) {
  transform: translate(20vw, -23vw) rotate(-5deg);
}
body .container section .card-group:hover > .misc-card:nth-child(10) {
  transform: translate(33vw, -33vw) rotate(5deg);
}
body .container section .card-group:hover > .misc-card:nth-child(11) {
  transform: translate(41vw, -13vw) rotate(-1deg);
}
body .container section .card-group:hover > .misc-card:nth-child(12) {
  transform: translate(35vw, 15vw) rotate(-7deg);
}
body .container section .card-group:hover > .text-blurb > .text-group1 {
  opacity: 0;
  transition-delay: 0s;
  transition-property: opacity;
  transition-duration: 1s;
}
body .container section .card-group:hover > .text-blurb > .text-group2 {
  opacity: 1;
  transition-delay: 1s;
  transition-property: opacity;
  transition-duration: 1s;
}/*# sourceMappingURL=style.css.map */